
header,footer {
          padding: 20px;
          text-align: center;
          border-radius: 10px;
          transition: transform 0.2s;
          border: 1px solid rgba(37,211,102,0.2);
          width: 97%;
          
          
      }

body {
          font-family: 'Times New Roman', Times, serif;
          background:#111B21;
          color:#E9edef;
          font-weight: 500;
          background-image: linear-gradient(rgba(255,255,255,0.05) 1px transparent 1px),near-gradient(90deg,rgba(255,255,255,0.05) 1px transparent 1px);
          background-size: 40px 40px;
          background-attachment: fixed;


         
          
      }

.card {
          background: #1F2937;
          padding: 15px;
          border-radius: 10px;
          box-shadow: 0 4px 6px -1px rgba(0,0,0,0.3), 0 2px 4px -1px rgba(0,0,0,0.1);
          transition: transform 0.2s;
          border: 1px solid rgba(37,211,102,0.2);
      }
.grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          gap: 5px;
          margin-top: 20px;
          grid-column: span 1;
      }
.card:hover {
          transform: translateY(-4px);
          box-shadow: 0 6px 12px rgba(0,0,0,0.1);
      }


.card a:hover{
    background: #005c4b;
}


.card a {
          text-decoration: none;
          display: block;
          padding: 10px;
          background: #00a884;
          color: black;
          border-radius: 6px;
          font-weight: 500;
          margin-top: 10px;
      }
.image{
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    border-radius: 10px;
    margin-right: 10px;

}
.container{
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.2s;
    border: 1px solid rgba(37,211,102,0.2);
    width: 90%;
    margin-left: 50px;
}
.text{
    text-decoration: none;
          display: block;
          padding: 10px;
          border-radius: 10px;
          font-weight: 500;
          margin: auto;
          font-family: 'Times New Roman', Times, serif;
          color: #E5E7EB;
          font-size: large;
          
}
.headings{
    text-align: center;
    text-decoration: none;
          display: block;
          padding: 10px;
         
          border-radius: 10px;
          font-weight: 500;
          margin: auto;
          width: 60%;
          
}
.navigation{
    padding: auto;
    text-align: end;
    

}
.navig{
    
          
          padding: 15px;
          border-radius: 10px;
          box-shadow: 0 2px 5px rgba(0,0,0,0.05);
          color:#111b21;
          transition: transform 0.2s;
          background: #00a884;
          margin: 0 5px;
      
}
.navig:hover {
          
          background: #005c4b;
      }
a{
    text-decoration: none;
    color: #E5E7EB ;
}
section{
    padding: 10px;
}
.timeline-container{
    position: relative;
   padding-left: 20px;
    max-width: 800px;
    margin-left: 100px;
}
.timeline-line{
    position: absolute;
    left:20px;
    top:0;
    bottom:0;
    width: 2px;
    background-color: #e0e0e0;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline-ball{
    position: sticky;
    top:50px;
    left:20px;
    width: 12px;
    height: 12px;
    background-color: #45a049;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(37, 235, 86, 0.5);
    z-index: 2;
    transform: translateX(-50%);
    margin-bottom: 12px;
}
.timeline-content{
    padding-left: 30px;

}
.job{
    margin-bottom: 40px;
    position: relative;
    background: #1F2937;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.3), 0 2px 4px -1px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    border: 1px solid rgba(37,211,102,0.2);
   
}

h1,h2,h3,h4,p,pre,header{
    color:#e9edef;
    
}
span{
    color:#8696a0;
}
li{
    color:#E5E7EB;
}
.contacts-container {
          
          padding: 15px;
          border-radius: 10px;
          
          transition: transform 0.2s;
          border: 1px solid rgba(37,211,102,0.2);
          margin-left: 300px;
          width: 600px;
      }
.contact{
        text-decoration: none;
          display: block;
          padding: 10px;
          background: #1F2937;
          color: black;
          border-radius: 6px;
          font-weight: 500;
          margin-top: 10px;
          border: 1px solid rgba(37,211,102,0.2);

}
.contact:hover{
    background: #00a884;

}
.skills{
    padding: auto;
    text-align: center;
    

}
.skill{
    
          
          padding: 15px;
          border-radius: 10px;
          box-shadow: 0 2px 5px rgba(0,0,0,0.05);
          color:#111b21;
          transition: transform 0.2s;
          background: #00a884;
          margin: 0 5px;
      
}
.resume{
    text-align: center;
        padding: 10px;
          border-radius: 10px;
          box-shadow: 0 2px 5px rgba(0,0,0,0.05);
          transition: transform 0.2s;
          background: #00a884;
          width: 60%;
          margin-left: 20%;
          
         

}
.resume:hover{
    background: #005c4b;

}
